<div class="widjets block">
	<div class="col-md-12">
		<div class="col-md-3">
			<h4>Сложные виджеты</h4>
			<ul>
				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>DataTable</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>TreeTable</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Kanban</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Pivot</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Scheduler</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>File Manager</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>SpreadSheet</span>
				</a></li>
			</ul>
		</div>

		<div class="col-md-3">
			<h4>Графические данные</h4>
			<ul>
				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Charts</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>BarCode</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Organogram</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>TreeMap</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Maps</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Gage</span>
				</a></li>
			</ul>
		</div>

		<div class="col-md-3">
			<h4>Layout компоненты</h4>
			<ul>
				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Layout</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Accordion</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>MultiView</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>ScrollView</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Carousel</span>
				</a></li>

				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Portlet</span>
				</a></li>
			</ul>
		</div>

		<div class="col-md-3">
			<h4>Редактирование данных</h4>
			<ul>
				<li><a href="/all_widjets/form" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Form</span>
				</a></li>

				<li><a href="/all_widjets/datepicker" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Datepicker</span>
				</a></li>

				<li><a href="/all_widjets/combo" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Combo</span>
				</a></li>

				<li><a href="/all_widjets/colorPicker" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Colorpicker</span>
				</a></li>

				<li><a href="/all_widjets/uploader">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Uploader</span>
				</a></li>

				<li><a href="/all_widjets/slider" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Slider</span>
				</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-3">
			<h4>Data Виджеты</h4>
			<ul>
				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Tree</span>
				</a></li>
				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>DataView</span>
				</a></li>
				<li><a href="#">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>List</span>
				</a></li>
			</ul>
		</div>
		 
		<div class="col-md-3">
			<h4>Навигация</h4>
			<ul>
				<li><a href="/all_widjets/menu" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Menu</span>
				</a></li>
				<li><a href="/all_widjets/toolbar" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Toolbar</span>
				</a></li>
				<li><a href="/all_widjets/context_menu" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>ContextMenu</span>
				</a></li>
				<li><a href="/all_widjets/sidebar" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Sidebar</span>
				</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>Windows &amp; Popups</h4>
			<ul>
				<li><a href="/all_widjets/popup" class="good">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Popup</span>
				</a></li>
				<li><a href="/all_widjets/dialog">
					<span><i class="material-icons default-color">brightness_1</i></span>
					<span>Dialog window</span>
				</a></li>
			</ul>
		</div>
	</div>
</div>