<div class="widjet-slider">
	<div class="col-md-6 ">
		<div class="slider"></div>

		<div class="slider2">
			<div class="ui-slider-handle"></div>
		</div>

		<div class="slider3">
			<ul>
				<li value="88"></li>
				<li value="77"></li>
				<li value="55"></li>
				<li value="33"></li>
				<li value="40"></li>
				<li value="45"></li>
				<li value="70"></li>
			</ul>
		</div>

		<div class="slider4">
			<p>
				<label for="amount">Price range:</label>
				<input type="text" id="amount" readonly>
			</p>
	 
			<div id="slider-range"></div>
		</div>
	</div>

	<div class="col-md-6">

		<div class="slider5">
			<form id="reservation">
				<label for="minbeds">Minimum number of beds</label>
				<select name="minbeds" id="minbeds">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
				</select>
				<div class="ex-slider"></div>
			</form>
		</div>

		<div class="col-md-8 slider6">
			<p>
				<label for="amount2">Target sales goal (Millions):</label>
				<input type="text" id="amount2" readonly>
			</p>
 
			<div id="slider-range2"></div>
		</div>

		<div class="col-md-4 slider7">
			<p>
				<label for="amount3">Volume:</label>
				<input type="text" id="amount3" readonly>
			</p>

			<div id="slider-vertical"></div>
		</div>
	</div>
</div>