<div class="widjet-toolbar">
	<div class="col-md-3 toolbar">
		<div class="toolbar-head">
		<a href="#" id="toolbar"><i class="material-icons">dehaze</i></a>
		</div>
		<div class="toolbar-body">
			<div class="toolbar-menu">
				<ul>
					<li class="search">
						<input type="text" placeholder="example"/>
					</li>
					<li>
						<a href="#">
							<span>
								<i class="material-icons">web</i>
							</span>
							<span class="px">Layouts</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<i class="material-icons">date_range</i>
							</span>
							<span class="px">Data Tables</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<i class="material-icons">extension</i>
							</span>
							<span class="px">Ui Components</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<i class="material-icons">dvr</i>
							</span>
							<span class="px">Tools</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<i class="material-icons">content_paste</i>
							</span>
							<span class="px">Forms</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>
								<i class="material-icons">import_contacts</i>
							</span>
							<span class="px">Documentation</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="toolbar-content"></div>
		</div>
	</div>
</div>