<div class="widjet-combo">
	<div class="col-md-3 widjet-options">
		<ul>
			<h3>Form version:</h3>
			<li>
				<form>
					<label>Choose background color for round 1:</label>
					<select>
						<option>Default color</option>
						<option>Ex. color 1</option>
						<option>Ex. color 2</option>
						<option>Ex. color 3</option>
					</select>
				</form>
			</li>

			<h3>Dropdown version:</h3>
			<li>
				<p>Choose background color for round 2:</p>
				<a href="#" class="dropdown">
					<span><i class="material-icons">brightness_1</i></span>
					<span>Default color</span>
					<span><i class="material-icons">arrow_drop_down</i></span>
				</a>
				<ul class="dropdown-togle">
					<a href="#" class="color1"><li>
						<span><i class="material-icons">brightness_1</i></span>
						<span>Ex. color 1</span>
					</li></a>
					<a href="#" class="color2"><li>
						<span><i class="material-icons">brightness_1</i></span>
						<span>Ex. color 2</span>
					</li></a>
					<a href="#" class="color3"><li>
						<span><i class="material-icons">brightness_1</i></span>
						<span>Ex. color 3</span>
					</li></a>
				</ul>
			</li>
			
			<h3>Colorpicker version:</h3>
			<li></li>
		</ul>
	</div>
	<div class="col-md-9 widjet-content">
		<span>1</span>
		<span>2</span>
		<span>3</span>
	</div>
</div>