<div class="context-menu">
	<div class="context" oncontextmenu="return menu(event);">
		<p>Click here with the right mouse button.</p>
	</div>
	<div class="right-menu">
		<ul>
			<li>
				<a href="#">
					<span>
						<i class="material-icons">create</i>
					</span>
					<span>Edit</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>
						<i class="material-icons">content_cut</i>
					</span>
					<span>Cut</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>
						<i class="material-icons">content_copy</i>
					</span>
					<span>Copy</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>
						<i class="material-icons">library_add</i>
					</span>
					<span>Paste</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>
						<i class="material-icons">delete</i>
					</span>
					<span>Delete</span>
				</a>
			</li>
		</ul>
	</div>
</div>