<div class="widjet-dataview">
	<div class="col-md-3 widjet-left">
		<div class="col-md-12 add-content">
			<h4>Form for adding content</h4>
			<form>
				<div class="section">
					<label>
						Add name:
						<input type="text" placeholder="add name">
					</label>
				</div>
				<div class="section">
					<label>
						Add description:
						<textarea placeholder="add description" rows="4"></textarea>
					</label>
				</div>
				<button type="submit">Submit</button>
			</form>
		</div>
		<div class="col-md-12 remove-content">
			<h4>Form for deleting the selected content</h4>
			<a href="#">Remove select</a>
		</div>
	</div>
	<div class="col-md-9 widjet-right">
		<div class="col-md-12 widjet-view">
			<ul>
				<li><a href="#" id="card-small"><i class="material-icons">view_module</i></a></li>
				<li><a href="#" id="card-big"><i class="material-icons">view_stream</i></a></li>
			</ul>
		</div>
		<div class="col-md-12 widjet-data">
			<a href="#" class="data-item">
				<h4>Content name 1</h4>
				<div class="content-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
			</a>
			<a href="#" class="data-item">
				<h4>Content name 2</h4>
				<div class="content-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
			</a>
			<a href="#" class="data-item">
				<h4>Content name 3</h4>
				<div class="content-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
			</a>
			<a href="#" class="data-item">
				<h4>Content name 4</h4>
				<div class="content-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
			</a>
		</div>
	</div>
</div>