<div class="widjet-datepicker">
	<form>
		<label>
			<legend>From:</legend>
			<input type="text" id="datepicker" name="from">
		</label>
		<label>
			<legend>to:</legend>
			<input type="text" id="datepicker2" name="to">
		</label>
		<br>
		<label class="submit">
			<legend>Submit</legend>
			<input type="submit" name="submit">
		</label>
	</form>
</div>