<div class="widjet-form">
	<div class="col-md-6">
		<form>
			<div class="section">
				<label>Email address</label>
				<input type="email" placeholder="Enter email" requred>
				<small>We'll never share your email with anyone else.</small>
			</div>
			<div class="section">
				<label>Password</label>
				<input type="password" placeholder="Password" requred>
			</div>
			<div class="section">
				<label>Example select</label>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="section">
				<labe>Example multiple select</label>
					<select multiple>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			<div class="section">
				<label>Example textarea</label>
				<textarea rows="3"></textarea>
			</div>
			<div class="section">
				<label>File input</label>
				<input type="file">
				<small>This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			</div>
			<fieldset class="section">
				<legend>Radio buttons</legend>
				<label>
					<input type="radio" id="radio-1" checked>
					Option one is this and that&mdash;be sure to include why it's great
				</label>

				<label>
					<input type="radio" id="radio-2">
					Option two can be something else
				</label>

				<label>
					<input type="radio" disabled id="radio-3">
					Option three is disabled
				</label>
			</fieldset>
			<div class="section">
				<label>
					<input type="checkbox">
					Check me out
				</label>
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
	<div class="col-md-6 form2">
		<form>
			<div class="section">
				<label class="col-md-3">Text</label>
				<div class="col-md-9">
					<input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Search</label>
				<div class="col-md-9">
					<input type="search" value="How do I shoot web">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Email</label>
				<div class="col-md-9">
					<input type="email" value="bootstrap@example.com">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">URL</label>
				<div class="col-md-9">
					<input type="url" value="https://getbootstrap.com">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Telephone</label>
				<div class="col-md-9">
					<input type="tel" value="1-(555)-555-5555">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Password</label>
				<div class="col-md-9">
					<input type="password" value="hunter2">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Number</label>
				<div class="col-md-9">
					<input type="number" value="42">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Date and time</label>
				<div class="col-md-9">
					<input type="datetime-local" value="2011-08-19T13:45:00">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Date</label>
				<div class="col-md-9">
					<input type="date" value="2011-08-19">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Month</label>
				<div class="col-md-9">
					<input type="month" value="2011-08">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Week</label>
				<div class="col-md-9">
					<input type="week" value="2011-W33">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Time</label>
				<div class="col-md-9">
					<input type="time" value="13:45:00">
				</div>
			</div>
			<div class="section">
				<label class="col-md-3">Color</label>
				<div class="col-md-9">
					<input type="color" value="#563d7c">
				</div>
			</div>
		</form>
	</div>
</div>