<div class="widjet-list">
	<div class="col-md-6 block">
		<div class="list">
			<h4>Filter list by a title</h4>
			<div class="search">
				<input type="search" placeholder="Search text">
			</div>
			<ul>
				<li>Example text heare</li>
				<li>Lord Bikenson</li>
				<li>Bob Dorati</li>
				<li>Piter Pen</li>
				<li>Angela Moralis Bekenson</li>
				<li>Paul Liriti</li>
				<li>Noname Noname2</li>
				<li>Андреев Андрей Анреевич</li>
				<li>Count 123</li>
				<li>2364527345723643268</li>
				<li>101010101110010010111010100</li>
				<li>(((((((((((((-)))))))))))))</li>
				<li>This list eamle</li>
			</ul>
		</div>
	</div>
	<div class="col-md-6 block">
		<div class="list-2">
			<h4>Make a single click to open the item editor</h4>
			<ul>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
			</ul>
		</div>
	</div>
</div>