<div class="widjet-list">
	<div class="col-md-6 block">
		<div class="list">
			<h4>Filter list by a title</h4>
			<div class="search">
				<input type="search" value="Search item">
			</div>
			<ul>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
				<li>This list eamle</li>
			</ul>
		</div>
	</div>
	<div class="col-md-6 block">
		<div class="list-2">
			<h4>Make a single click to open the item editor</h4>
			<ul>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
				<li><input type="text" value="This example text"></li>
			</ul>
		</div>
	</div>
</div>