<div class="widjet-menu">
	<div class="menu">
		<div class="widjet-head">
			<div class="navbar-left">
				<a href="#" class="btn-background brand-info1">
					<span><img src="/images/favicon.png"/></span>
					<span>Brand info</span>
					<span><i class="material-icons">arrow_drop_down</i></span>
				</a>
				<div class="sub-menu">
					<div class="col-md-3 logo">
						<img src="/images/favicon.png"/>
						<p>[ volitilov ]</p>
					</div>
					<div class="col-md-9 descriptions">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.</p>
						<a href="#">Read more ...</a>
					</div>
				</div>
			</div>
			<div class="navbar-right">
				<ul>
					<li><a href="#" class="btn-background">Example</a></li>
					<li><a href="#" class="btn-background">Ex link</a></li>
				</ul>
			</div>
		</div>
		<div class="widjet-body"></div>
	</div>
</div>
