<% include ../components/_head %>

<div class="col-md-10 col-md-offset-1 widjet-sidebar">
	<div class="widjet-sidebar-head">
		<a href="#" id="sidebar"><i class="material-icons">dehaze</i></a>
	</div>
	<div class="row widjet-sidebar-body">
		<div class="sidebar-menu">
			<ul>
				<li><a href="#">
					<i class="material-icons">dashboard</i>
					<span>Dashboards</span>
				</a></li>
				<li><a href="#">
					<i class="material-icons">web</i>
					<span>Layouts</span>
				</a></li>
				<li><a href="#">
					<i class="material-icons">date_range</i>
					<span>Data Tables</span>
				</a></li>
				<li><a href="#">
					<i class="material-icons">extension</i>
					<span>Ui Components</span>
				</a></li>
				<li><a href="#">
					<i class="material-icons">dvr</i>
					<span>Tools</span>
				</a></li>
				<li><a href="#">
					<i class="material-icons">content_paste</i>
					<span>Forms</span>
				</a></li>
				<li><a href="#" class="x">
					<i class="material-icons">import_contacts</i>
					<span>Documentation</span>
				</a></li>
			</ul>
		</div>
		<div class="sidebar-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>