<div class="head">
	<nav>
		<ul>
			<li>
				<a href="/">
					<img src="/images/favicon.png"/>
				</a>
			</li>
			<li>
				<h3>Frontend tools</h3>
			</li>
		</ul>
		<ul class="navbar-right">
			<li><a title="Widjets" href="/widjets">Widjets</a></li>
			<li><a title="Icons" href="/icons">Icons</a></li>
			<li><a title="About" href="/about">About</a></li>
			<li><a title="Portfolio" href="portfolio">Portfolio</a></li>
			<li><a title="Contacts" href="contacts">Contacts</a></li>
			<li><a href="settings"><i class="material-icons">settings</i></a></li>
		</ul>
	</nav>
</div>