<div class="head">
	<nav>
		<div class="navbar-left">
			<a href="#" class="btn-background brand-info">
				<span><img src="/images/favicon.png"/></span>
				<span>Brand info</span>
				<span><i class="material-icons">arrow_drop_down</i></span>
			</a>
			<div class="sub-menu">
				<div class="col-md-4 logo">
					<img src="/images/favicon.png"/>
					<p>Frontend tools</p>
				</div>
				<div class="col-md-8 descriptions">
					<p>Here is a collection of my widgets for development. From simple to complex, with and without animation.</p>
				</div>
			</div>
		</div>
		<ul class="navbar-right">
			<li><a title="Home" href="/">Home</a></li>
			<li><a title="Widjets" href="/widjets">All widjets</a></li>
			<li><a href="settings"><i class="material-icons">settings</i></a></li>
		</ul>
	</nav>
</div>