.widjets {
	padding-left: 100px;
	padding-right: 100px;
	.search {
		padding: 0px;
		padding-bottom: 30px;
		border-bottom: 1px dotted #ddd;
		input {
			width: 40%;
			background-color: transparent;
			border-radius: 20px;
			border: 2px dotted #ddd;
			padding: 10px 20px;
			font-size: 16px;
		}
	}
	ul {
		padding-left: 0px;
		li {
			list-style: none;
			a {
				padding-top: 3px;
				padding-bottom: 3px;
				display: block;
				text-decoration: none;
				span {
					vertical-align: middle;
					display: inline-block;
					margin-right: 7px;
					i {
						font-size: 13px;
						color: red;
					}
				}
				&:hover {
					color: red;
				}
			}
			.good i {
				color: green;
			}
			.good:hover {
				color: green;
			}
		}
	}
	.widjets-list {
		padding: 0px;
		margin-top: 30px;
	}
}