.widjets {
	padding-left: 75px;
	padding-right: 75px;
	ul {
		padding-left: 20px;
		padding-bottom: 30px;
		li {
			list-style: circle;
			a {
				padding-top: 3px;
				padding-bottom: 3px;
				display: block;
			}
		}
	}
}