.widjet-menu {
	padding: 50px;
	padding-left: 100px;
	padding-right: 100px;
	.menu {
		border-radius: 4px;
		border: 2px dotted #ddd;
		.widjet-head {
			overflow: hidden;
			padding: 10px 20px;
			// background-color: #eee;
			border-bottom: 2px dotted #ddd;
			ul {
				list-style: none;
			}
			.navbar-right {
				ul {
					margin: 0px;
					li {
						display: inline-block;
					}
				}
			}
		}
		.widjet-body {
			height: 400px;
		}
	}
}